@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Teko:wght@300;400;500;600;700&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;
  font-family: 'Orbitron', sans-serif;

  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

blockquote {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;

}

h3 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
}

h4 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 2.5px;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 2.3rem;
  letter-spacing: 2px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: 600;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.6rem;
  padding: 2rem;
  letter-spacing: 2px;
  margin-bottom: var(--spacing);
  box-shadow: 
  rgba(29, 17, 53, 0.4) -5px 5px,
   rgba(12, 22, 79, 0.3) -10px 10px,
    rgba(186, 30, 104, 0.2) -15px 15px,
     rgba(86, 67, 253, 0.1) -20px 20px,
      rgba(118, 73, 254, 0.05) -25px 25px;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);

  line-height: 1.2;
  margin-bottom: var(--spacing);
  box-shadow: 
  rgba(118, 73, 254, 0.4) -5px 5px,
   rgba(118, 73, 254, 0.3) -10px 10px,
    rgba(118, 73, 254, 0.2) -15px 15px,
     rgba(118, 73, 254, 0.1) -20px 20px,
      rgba(118, 73, 254, 0.05) -25px 25px;
}

blockquote {
  margin: 0;
  padding: 3px 10px;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
  
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 3.5rem;
  display: inline;
  line-height: 1 + 5rem;
}

.courses {
  columns: 2;
  line-height: 1.2;
}

.skills {
  columns: 3;
}

.left {
  grid-column: 6 / 12;
}
section.left {
  grid-column: 6 / 12;
  box-shadow: 
  rgba(118, 73, 254, 0.4) 5px 5px,
   rgba(118, 73, 254, 0.3) 10px 10px,
    rgba(118, 73, 254, 0.2) 15px 15px,
     rgba(118, 73, 254, 0.1) 20px 20px,
      rgba(118, 73, 254, 0.05) 25px 25px;
}
ul {
  list-style-type: square;
  font-size: 1.8rem
}